<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692878505754-m3r9tmu075aubvtpupgn8au9abudcnmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692878505754-m3r9tmu075aubvtpupgn8au9abudcnmo</string>
	<key>API_KEY</key>
	<string>AIzaSyAUJdRgMVID-PGpPT9CUZ7sfRaLOAINbB8</string>
	<key>GCM_SENDER_ID</key>
	<string>692878505754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c4k.app</string>
	<key>PROJECT_ID</key>
	<string>c4k-events</string>
	<key>STORAGE_BUCKET</key>
	<string>c4k-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692878505754:ios:0923ad90f908e8d0a95ea3</string>
	<key>DATABASE_URL</key>
	<string>https://c4k-events.firebaseio.com</string>
</dict>
</plist>